# Env local - NO subir
.env

# Volúmenes de datos locales (nunca contenedores)
minio_data/
tsdb_data/
oltp_data/
grafana_data/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
logs/

# IDE / SO
.idea/
.vscode/
.DS_Store

# dbt (Fase 3)
dbt_petrolera/target/
dbt_petrolera/logs/
dbt_petrolera/dbt_packages/
dbt_petrolera/.user.yml
dbt_packages/
dbt.log
GUIA_USO_APP_CELULAR.txt
roadmap_proyecto_petrolera.txt

